@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
.navbar .dropdown-menu .form-control {
    width: 250px;
}
.navbar .btn{
    margin: 5pt;   
}
#library{
color:#fefeff;
font-size: 50pt;
padding-top: 80pt;
padding-left: 150pt;
height: 200pt;
font-family:'Oswald',arial narrow,sans-serif;
}
#branding{
    background-color: white;
    margin-left: 150pt;
    margin-right: 100pt;
    height: 590pt;
    margin-top: -30pt;
    padding-top: 70pt;
    font-family:'Oswald',arial narrow,sans-serif;
    
}

#more{
    max-width: 60pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-left: 800pt;
}
#footer{
    font-family:'Oswald',arial narrow,sans-serif;
    margin-top: 30pt;
    margin-left: 0pt;
}
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

img{
    border-radius: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30pt;
    width: 50%;
  }
#first{
    padding-top: 30pt;
    font-family: 'Assistant';
}
#second{
    padding-top: 15pt;
    font-family: 'Assistant';
}
.box{
    padding-left: 300pt;
    padding-right: 50pt ;
}
.strength{
    width: 390pt;
}
#heading{
    text-align: center;
    padding-top: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-shadow: -2px -2px 5px #b30000;
}
.col-form-label{
    color: black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    
}
.col-sm-4 .form-control{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.col-sm-4{
    box-shadow: -2px -2px -2px -2px rgb(167,144,144);
}
