.box{
    padding-left: 300pt;
    padding-right: 50pt ;
}
.strength{
    width: 390pt;
}
#heading{
    text-align: center;
    padding-top: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-shadow: -2px -2px 5px #b30000;
}
.col-form-label{
    color: black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    
}
.col-sm-4 .form-control{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.col-sm-4{
    box-shadow: -2px -2px -2px -2px rgb(167,144,144);
}
